In [86]:
import numpy as np
from IPython.display import display
import pandas as pd

In [127]:
df = pd.read_csv("C:/Users/Selin/Desktop/sport_athletes.csv")
df_copy = df.copy()
df_copy1 = df.copy()

In [128]:
df_copy

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016

In [131]:
#Question num 1
result = df_copy.groupby('Sport Type').agg({
    'Weight(kg)' : 'min',
    'Height(cm)' : 'max',
    'Wins' : 'max' 
}).reset_index().sort_values(by = 'Sport Type')
display(result)

        Sport Type  Weight(kg)  Height(cm)  Wins
0       Basketball          96         216     3
1          Cycling          68         186     5
2       Gymnastics          45         160     5
3           Soccer          57         187     3
4         Swimming          58         200     5
5           Tennis          70         188     4
6  Track and Field          57         195     6

In [132]:
#Question num 1 a b c
result = result.rename(columns={
    'Weight(kg)': 'weight_min',
    'Height(cm)': 'height_max',
    'Wins': 'wins_max'
}).sort_values(by = 'Sport Type')

display(result)

        Sport Type  weight_min  height_max  wins_max
0       Basketball          96         216         3
1          Cycling          68         186         5
2       Gymnastics          45         160         5
3           Soccer          57         187         3
4         Swimming          58         200         5
5           Tennis          70         188         4
6  Track and Field          57         195         6

In [148]:
#Question num 2
df_sorted = df_copy.sort_values(by = ['Sport Type', 'Height(cm)'], ascending=[True, False])
top2 = df_sorted.groupby('Sport Type').head(2).reset_index()
display(top2[['Sport Type','Height(cm)', 'Athlete Name']])

         Sport Type  Height(cm)       Athlete Name
0        Basketball         216   Shaquille O'Neal
1        Basketball         208       Kevin Durant
2           Cycling         186      Primoz Roglic
3           Cycling         184      Tadej Pogacar
4        Gymnastics         160        Aly Raisman
5        Gymnastics         157      Shawn Johnson
6            Soccer         187  Cristiano Ronaldo
7            Soccer         185    Zinedine Zidane
8          Swimming         200           Sun Yang
9          Swimming         196         Ian Thorpe
10           Tennis         188     Novak Djokovic
11           Tennis         185      Roger Federer
12  Track and Field         195         Usain Bolt
13  Track and Field         188         Carl Lewis

In [147]:
#Question num 4
new_rows = pd.DataFrame({ 'Country': ['Canada', 'USA'], 'Sport Type': ['Hockey', 'Skiing'],
'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'], 'Height(cm)': [183, 172],
'Weight(kg)': [84, 68], 'Wins': [3, 4], 'Olympic Date': ['01/02/2002', '12/02/2010'] })

df_concat = pd.concat([df_copy1, new_rows], axis=0)
df_concat

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016
0,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002
1,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010